@tailwind base;
@tailwind components;
@tailwind utilities;


.react-calendar-heatmap .color-empty {
  fill: #f3e9df;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #a67c52;
}

.react-calendar-heatmap rect {
  width: 11px;
  height: 11px;
  rx: 3;
}

.react-calendar-heatmap text {
  fill: #6f4e37;
  font-size: 9px;
}


/* @layer components {
  .react-calendar-heatmap svg {
    width: 100%;
  }

  .react-calendar-heatmap rect {
    width: 10px;
    height: 10px;
    rx: 2px;
  }
} */