@tailwind base;
@tailwind components;
@tailwind utilities;


.react-calendar-heatmap text {
  fill: #8b6f5a;
  font-size: 8px;
}

.react-calendar-heatmap .color-empty {
  fill: #ece7e1;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #a67c52;
}

.react-calendar-heatmap rect {
  rx: 4;
  ry: 4;
}


/* @layer components {
  .react-calendar-heatmap svg {
    width: 100%;
  }

  .react-calendar-heatmap rect {
    width: 10px;
    height: 10px;
    rx: 2px;
  }
} */